#realm {
}
.pacman {
    height: 50px;
    width: 50px;
    background-image: url("pacman1.png");
    display: inline-block;
}
.wall {
    height: 50px;
    width: 50px;
    background-image: url("wall.png");
    display: inline-block;
}
.coin {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-image: url("coin.png");

}
.ghost {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-image: url("ghost1.png");
}
.ground {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-image: url("bg.png");
}